@using PJ_Webapp.Models
@using PJ_Webapp.Models.Enums
       <h4 class="card-title">Soldier Information</h4>
                       <p class="card-text">Name: @soldier.name</p>
                       <p class="card-text">Loyalty: @soldier.loyalty.ToCustomString()</p>
                       <p class="card-text">Class: @soldier.soldierClass.ToCustomString()</p>
                       <p class="card-text">Race: @soldier.soldierRace.ToCustomString()</p>
                       
                       <h5 class="card-title">Status</h5>
                       <p class="card-text">Level: @soldier.level</p>
                       <p class="card-text">Health Status: @soldier.healthStatus.ToCustomString()</p>
                       <p class="card-text">Health: @soldier.currentHealth / @soldier.maxHealth</p>
                       <p class="card-text">Mental: @soldier.mental</p>
                       <h5 class="card-title">Skills</h5>
                       @foreach (Skill skill in soldier.skills)
                       {
                           <div class="badge">
                           <span class="badge badge-primary">@skill.name.ToCustomString()</span>
                           <span class="badge badge-secondary">@skill.level</span>
                           </div>
                           <br />
                       }


@code {
    [Parameter]public Soldier soldier { get; set; }
}