@using PJ_Webapp.Models
@using PJ_Webapp.Models.Enums

<div class="border container w-75 bg-body-tertiary bg-opacity-75 row">
    <div class="col-xxl-2">
        <h5>@soldier.name 
            @if (@soldier.availableSkillPoints > 0)
            {
                <span class="ms-1 ps-1 pt-1 pb-1 badge bg-danger rounded-pill me-2">+ @soldier.availableSkillPoints</span>
            }
        </h5> 
        <h6 class="text-secondary mt-0">Level @soldier.level @soldier.soldierClass.ToCustomString() 
            @if (soldier.roleAvailableForAssignment)
            {
                <span class="badge bg-danger ms-1 ps-1 pe-1">New!</span>
            }</h6>
    </div>
    <div class=" col-xxl-1 border-start border-end">
        <div class="d-flex flex-row mt-1"><i class="bi bi-bandaid pe-1"></i> @soldier.currentHealth / @soldier.maxHealth </div>
        <div class="d-flex flex-row"><i class="bi bi-emoji-angry pe-1"></i> @soldier.mental / 5</div>
        <div class="@soldier.healthStatus.ToBadge()">@soldier.healthStatus.ToCustomString()</div>
    </div>
    <div class="col-xxl border-start">
        <div class="d-flex flex-row">
            <div class="col-xxl  border-end">
                <i class="bi bi-crosshair"></i>Aim @soldier.aim
                <i class="bi bi-bricks"></i>Toughness @soldier.toughness
                <i class="bi bi-feather"></i>Agility @soldier.agility
                <i class="bi bi-fire"></i>Will @soldier.will
                <i class="bi bi-cloud-lightning"></i>Power @soldier.power
            </div>
            <div class="col d-flex flex-row ms-2 mb-1">
                <button class="btn btn-primary me-2">Level Up</button>
                <button class="btn btn-primary me-2">Assign Role</button>
                <button class="btn btn-primary me-2">Spend Skill Points</button>
            </div>
        </div>
        <div class="d-flex flex-row border-top mb-2">
            @foreach (Skill skill in soldier.skills)
            {
                if (skill.name.GetCategory() == "Field Skills")
                {
                    <div class="badge bg-primary mt-1 me-2">
                        @skill.name.ToCustomString() - @skill.level
                    </div>
                }
            }
        </div>
        <div class="d-flex flex-row mb-2">
            @foreach (Skill skill in soldier.skills)
            {
                if (skill.name.GetCategory() == "Artisan Skills")
                {
                    <div class="badge bg-primary me-3">
                        <span>@skill.name.ToCustomString() - @skill.level</span>
                    </div>
                }
            }
        </div>
    </div>
</div>


@code {
    [Parameter] public Soldier soldier { get; set; }
}